nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #51dfab;
  color: #fff;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 100px;
  height: 40px;
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-links img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
